* {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
}

:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.btn {
  background-color: var(--Very-dark-cyan);
  color: var(--Very-light-grayish-cyan);
  font-size: 1.5rem;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--Light-grayish-cyan);
}

.heading {
  text-align: center;
  color: var(--Dark-grayish-cyan);
  font-size: 1.5rem;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.card {
  background-color: var(--White);
  display: flex;
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 1rem;
  align-content: center;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  min-width: min(540px, 60vw);
}

.billEditCard {
  background-color: red;
  box-sizing: border-box;
  border-radius: 0.5rem;
  flex-basis: 0;
  flex-grow: 1;
}

.billShowCard {
  background-color: var(--Very-dark-cyan);
  box-sizing: border-box;
  padding: 40px 20px;
  border-radius: 0.5rem;
  flex-basis: 0;
  flex-grow: 1;
}

.card input {
  font-size: 1.5rem;
}

.billShowHeading {
  color: var(--Very-light-grayish-cyan);
}
